@model MVC.Models.Entities.Record

@{
    ViewData["Title"] = "Delete";
}

<h2>删除</h2>

<h3>你确定要删除？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MID.MaterialName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MID.MaterialName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SID.FactoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID.FactoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RID" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
