@model MVC.Models.Entities.Record

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID.Director)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UID.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
