@model IEnumerable<MVC.Models.Entities.Record>

@{
    ViewData["Title"] = "Index";
}

<h2>申请记录</h2>

<p>
    <a asp-action="Create">发起新申请</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UID.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SID.FactoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MID.MaterialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UID.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SID.FactoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MID.MaterialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            @if (item.State == 1)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RID">确认采购</a>
                </td>
            }
            else if (item.State == 0)
            {
                <td>
                    <a asp-action="Delete" asp-route-id="@item.RID">删除请求</a> | 正在等待批准
                </td>
            }
            else if (item.State == 2)
            {
                <td>
                    已完成收购
                </td>
            }

        </tr>
}
    </tbody>
</table>
