@model MVC.Models.Entities.Supplier_material

@{
    ViewData["Title"] = "删除物资";
}

<h2>删除</h2>

<h3>确定要删除该供方的物资吗？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID.FactoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MID.MaterialName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MID" />
        <input type="submit" value="删除" class="btn btn-default" />
    </form>
</div>
