@model MVC.Models.Entities.Supplier_material

@{
    ViewData["Title"] = "供方物资详情";
    var sm = ViewData["mm"];
}

<h2>详情</h2>

<div>
    <h4>供方物资</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SID.FactoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MID.MaterialName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoteId">编辑</a> |
    <a asp-action="Index">供方物资列表</a>
</div>
